
h1 {
    background-color: purple; 
    color: #fff; 
    text-align: center; 
    padding: 20px; 
    font-family: Arial, sans-serif; 
  }
  

  a {
    color: #007bff; 
    text-decoration: none; 
  }
  
  a:hover {
    text-decoration: underline; 
  }
  
  
  ul {
    list-style-type: square; 
    margin-left: 20px; 
  }
  

  p {
    line-height: 1.5; 
    margin-bottom: 15px; 
    font-size: 16px; 
  }
  
footer {
    background-color: purple; 
    color: #fff; 
    text-align: left; 
    padding: 20px; 
    font-family: Arial, sans-serif; 
  }
 